body{
    background-color: black;
}
h2{
    color:rgb(28, 90, 176)
}
#p1{
    color:rgb(176, 28, 28)
}
#p2{
    color:#1cb041
}
#p3{
    color:hsl(0, 90%, 46%)
}
#p4{
    color:azure
}
h1{
    color:yellowgreen
}
p{
    color:pink
}
.odd{
    color:red
}

.even{
    color:white
}
  